<a href="https://colab.research.google.com/github/shiissaa/CSE475/blob/main/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [534]:
# These are the packages that we are importing that shall be used throughout this Lab
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
%matplotlib inline
# Data set information and deep dive - https://archive.ics.uci.edu/ml/datasets/Real+estate+valuation+data+set
# Read the dataset and look at the head to gague the column names and whether column names actually exists
url = 'https://raw.githubusercontent.com/shiissaa/CSE475/main/realestate.csv'
df = pd.read_csv(url) # Enter dataset name here
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10.0,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9.0,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5.0,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5.0,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5.0,24.97937,121.54245,43.1

In [535]:
# What is the shape of the data?
shape_data = df.shape # 1.1 of Gradescope tests
print(shape_data)

(414, 8)

In [536]:
# Look at the information about the data for better understanding of what you are dealing with, using - info()
df.info()
# Use the describe function to report the max values of all the rows from X2 and X4
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  400 non-null    float64
 4   X4 number of convenience stores         401 non-null    float64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              405 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 26.0 KB

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,400.000000,401.000000,414.000000,414.000000,405.000000
mean,207.500000,2013.148971,17.712560,1089.565943,4.072319,24.969030,121.533361,37.822222
std,119.655756,0.281967,11.392485,1270.301888,2.957576,0.012410,0.015347,13.580324
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.300000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.400000
75%,310.750000,2013.417000,28.150000,1463.122750,6.000000,24.977455,121.543305,46.400000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [537]:
X2_max = df['X2 house age'].max() # Put the value of the max value of X2 here -- 1.2 of Gradescope tests
X4_max = df['X4 number of convenience stores'].max() # Put the value of the max value of X4 here -- 1.3 of Gradescope tests

In [538]:
# Use null check to report how many values are missing for the X3, X4 and Y columns
df.isna().sum()

No                                         0
X1 transaction date                        0
X2 house age                               0
X3 distance to the nearest MRT station    14
X4 number of convenience stores           13
X5 latitude                                0
X6 longitude                               0
Y house price of unit area                 9
dtype: int64

In [539]:
X3_null = df['X3 distance to the nearest MRT station'].isna().sum() # Put the value here -- 1.4 of Gradescope tests
X4_null = df['X4 number of convenience stores'].isna().sum() # Put the value here -- 1.5 of Gradescope tests
Y_null = df['Y house price of unit area'].isna().sum() # Put the value here -- 1.6 of Gradescope tests

In [540]:
# Perform dropna and find the mean value of the 'X3 distance to the nearest MRT station' column
df_drop = df.copy()
df_drop = df_drop.dropna(axis = 0)

In [541]:
# Put the mean value calculated here -- 1.7 of Gradescope tests
mean_X3_drop = df_drop['X3 distance to the nearest MRT station'].mean()
print(mean_X3_drop)

1118.7994589153438

In [542]:
# Perform fillna with median values and report the mean value of the 'X3 distance to the nearest MRT station' column after this - 1.7
df_fill = df.copy()
df_fill = df_fill.fillna(df_fill.median())

In [543]:
# Put the mean value calculated here -- 1.8 of Gradescope tests
mean_X3_fill = df_fill['X3 distance to the nearest MRT station'].mean()
print(mean_X3_fill)
df_fill.describe()

1069.3662207971013

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1069.366221,4.070048,24.969030,121.533361,37.834783
std,119.655756,0.281967,11.392485,1253.256760,2.910684,0.012410,0.015347,13.431804
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.400000
75%,310.750000,2013.417000,28.150000,1445.109250,6.000000,24.977455,121.543305,46.100000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [544]:
# Now use the new dataframe with filled in data (which is the one you used fillna() on) for all further tasks
# Outlier removal - make sure to remove the outlier as per the following:
# remove all values in 'Y house price of unit area' column with value > 80
# remove all values in 'X3 distance to the nearest MRT station' column with value > 2800
# remove all values in 'X6 longitude' column with value < 121.50
dataframe = df_fill.copy()
# YOUR CODE HERE
dataframe = dataframe[(dataframe['Y house price of unit area'] <= 80) &
                      (dataframe['X3 distance to the nearest MRT station'] <= 2800) &
                      (dataframe['X6 longitude'] >= 121.50)]
dataframe.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000
mean,208.386059,2013.145686,17.545040,724.580266,4.490617,24.971104,121.536570,39.530831
std,120.181767,0.279791,11.761945,657.147187,2.755843,0.009749,0.011052,11.785032
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.947830,121.502430,7.600000
25%,104.000000,2012.917000,8.000000,281.205000,3.000000,24.964270,121.533720,30.700000
50%,210.000000,2013.167000,15.700000,482.758100,5.000000,24.972810,121.539900,39.500000
75%,312.000000,2013.417000,29.100000,1009.235000,6.000000,24.978430,121.543480,47.000000
max,414.000000,2013.583000,43.800000,2707.392000,10.000000,24.991760,121.561740,78.300000

In [545]:
# Here the Y column has price per unit area as 10000 New Taiwan Dollar/ Ping where 1 NTD = 0.03 USD and 1 Ping = 3.3 meter^2 --> thus use the Pandas apply function to convert the unit to USD/ m^2
# Conversion facor to be used = 10000 NTD/ Ping * 91 = USD/m^2 i.e ==> current * conversion factor
# To complete this, use the apply() function
# YOUR CODE HERE
dataframe['Y house price of unit area'] = dataframe['Y house price of unit area'].apply(lambda x: x*91)

In [546]:
# Perform Normalization on the data (hint: check MinMaxScaler()) -- report the mean of the Y column after this
# Note make sure you pay heed to the data type of normalized
from sklearn.preprocessing import MinMaxScaler
# YOUR CODE HERE
normalizer = MinMaxScaler()
normalizer.fit_transform(dataframe)
normalized = normalizer.transform(dataframe)
# YOUR CODE HERE to convert normalized back to a dataframe
normalized_df = pd.DataFrame(normalized, columns = ['No','X1 transaction date','X2 house age','X3 distance to the nearest MRT station',
                                                    'X4 number of convenience stores','X5 latitude','X6 longitude','Y house price of unit area'])

In [547]:
# Put the mean value of the 'Y house price of unit area' column after Norm, here - 1.9 of Gradescope tests
mean_norm_Y = normalized_df['Y house price of unit area'].mean()
print(mean_norm_Y)
normalized_df.info()

0.4516383465232774
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      373 non-null    float64
 1   X1 transaction date                     373 non-null    float64
 2   X2 house age                            373 non-null    float64
 3   X3 distance to the nearest MRT station  373 non-null    float64
 4   X4 number of convenience stores         373 non-null    float64
 5   X5 latitude                             373 non-null    float64
 6   X6 longitude                            373 non-null    float64
 7   Y house price of unit area              373 non-null    float64
dtypes: float64(8)
memory usage: 23.4 KB

In [548]:
# Use the apply function to classify whether a house should be classified as New/ Moderate/ Old
# Use this new dataset to find how many house are there for each of the 3 categories as defined above and report in the respective variables
def age_classifier(age):
    if age < 10:
        return 'New'
    elif age < 30:
        return 'Middle'
    else:
        return 'Old'
df_age_classify = dataframe.copy()
# YOUR CODE HERE -- perform the apply() based on the function specified above
df_age_classify['Age Class'] = df_age_classify['X2 house age'].apply(lambda x: age_classifier(x))

In [549]:
New_count = (df_age_classify['Age Class'].values == 'New').sum() # 1.10 of Gradescope tests
Middle_count = (df_age_classify['Age Class'].values == 'Middle').sum() # 1.11 of Gradescope tests
Old_count = (df_age_classify['Age Class'].values == 'Old').sum() # 1.12 of Gradescope tests
print(New_count, Middle_count, Old_count)

108 176 89

In [550]:
# Reset the index and set the 'No' column as the Index (this helps to learn how to use the serial number column in dsets where it's present and can be effectively used).
# Use set_index()
# YOUR CODE HERE
reindex_df = dataframe.set_index('No')
reindex_df.describe()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000
mean,2013.145686,17.545040,724.580266,4.490617,24.971104,121.536570,3597.305630
std,0.279791,11.761945,657.147187,2.755843,0.009749,0.011052,1072.437903
min,2012.667000,0.000000,23.382840,0.000000,24.947830,121.502430,691.600000
25%,2012.917000,8.000000,281.205000,3.000000,24.964270,121.533720,2793.700000
50%,2013.167000,15.700000,482.758100,5.000000,24.972810,121.539900,3594.500000
75%,2013.417000,29.100000,1009.235000,6.000000,24.978430,121.543480,4277.000000
max,2013.583000,43.800000,2707.392000,10.000000,24.991760,121.561740,7125.300000

In [551]:
# Find index where the column price per unit area has the maximum value
max_id = reindex_df['Y house price of unit area'].idxmax() # Put the value here -- 1.13 of Gradescope tests
print(max_id)

221

In [552]:
################################################################################
# Report the transaction date, house age and number of convenience stores for this house at idmax index
txn_dt = reindex_df.loc[max_id, 'X1 transaction date'] # Put the transaction date value here -- 1.14 of Gradescope tests
house_age = reindex_df.loc[max_id, 'X2 house age'] # Put the House Age value here -- 1.15 of Gradescope tests
conv_st = reindex_df.loc[max_id, 'X4 number of convenience stores'] # Put the Number of Convenience stores value here -- 1.16 of Gradescope tests
print(txn_dt)
print(house_age)
print(conv_st)
print(reindex_df.loc[[max_id]])

2013.333
37.2
9.0
     X1 transaction date  X2 house age  \
No
221             2013.333          37.2

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
No
221                                186.5101                              9.0

     X5 latitude  X6 longitude  Y house price of unit area
No
221     24.97703     121.54265                      7125.3

In [553]:
# Subset the dataframe querying for House Age less than or equal to 9 years and Price of Unit Area greater than 27
# YOUR CODE HERE
age_price_df = reindex_df[(reindex_df['X2 house age'] <= 9) & (reindex_df['Y house price of unit area'] > 27)]
age_price_df.describe()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000
mean,2013.142388,4.006796,615.570565,5.067961,24.970225,121.537573,4261.185437
std,0.296247,2.723221,725.255435,2.811957,0.008682,0.011301,1076.550793
min,2012.667000,0.000000,23.382840,0.000000,24.951200,121.511510,1974.700000
25%,2012.833000,1.750000,118.678500,3.000000,24.964640,121.537110,3498.950000
50%,2013.167000,4.000000,312.896300,5.000000,24.971100,121.540860,4422.600000
75%,2013.417000,6.250000,555.718850,7.000000,24.975740,121.543930,5005.000000
max,2013.583000,9.000000,2408.993000,10.000000,24.985730,121.559640,6697.600000